.pickerScreenContainer {
  /* background-color: blue;  */
  height: 80vh;
  width: 50vw;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 1vw;
}


.titleContainer {
  flex:1;
  width: 400px;
  height: 120px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1vw;
}

.title {
  color: white;
  font-size: calc(14px + 1vmin);
  font-family: 'Roboto';
  margin:auto;
  margin-right: 40px;
  /* left:0; */
}


.scrollview {
  flex:6;
  /* height: fit-content; 
w  align-items: center;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* background-color: white; */
  border-radius: 1vw;
  margin-top: 40px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .pickerScreenContainer {
    /* background-color: green; */
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .pickerScreenContainer {
    /* background-color: pink; */
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}



.companyCard {
    width: 50%;
    aspect-ratio: 6;
    border-radius: 20px;
    background-color: #33182f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;    
    cursor: pointer;
    margin-right: 5%;
}

.companyCard:hover {
  transform: scale(1.05); /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport)*/
}





