.companyBalanceContainer {
    /* background-color: blue;  */
    height: 80vh;
    width: 70vw;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 12px;
  
  }
  
  .titleBox {
    /* flex:1; */
    /* width: 45%; */
    /* aspect-ratio: 4; */
    height: 120px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    padding-left: 30px;
  }
  
  .titleText {
    color: white;
    font-size: calc(14px + 1vmin);
    font-family: 'Roboto';
    margin:auto;
    margin-right: 40px;
    /* left:0; */
  }
  